SECRET_KEY="super_pro_max_ultra_turbo_monster_secret_key"
JWT_ALGORITHM="HS256"

DB_USER="customuser"
DB_PASS="custompass"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="customdatabase"

JWT_ACCESS_TOKEN_TTL_MS=900000

JWT_REFRESH_COOKIE_SECURE=false
JWT_REFRESH_TOKEN_TTL_MS=2592000000

